.dashBoardMain {
    /* width: 82%; */
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #f8f8f8;
}

/* billing card */
.billingCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}

.billCard {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    padding: 12px;
}

.billRight {
    display: flex;
    align-items: center;

}

.billDescOne {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.billHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.billHead h2 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-right: 10px;
    color: var(--primaryColor)
}

.billHead h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.billDescOne h3 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
}

.billRight h4 {
    font-size: 15px;
    color: var(--textColorDark);
    font-weight: 400;
    margin-right: 10px;
    opacity: 0.8;
}

/* table */
.firstTableHead {
    width: 50%;
}

.lastTableHead {
    width: 12%;
}