.calendlyLink {
    width: 50%;
    position: relative;
}

.calendlyLink h4 {
    font-size: 14px;
    font-weight: 600;
}


.calendlyLink h5 {
    font-size: 14px;
    font-weight: 600;
    color: var(--primaryColor);
    position: absolute;
    top: 55%;
    right: 3%;
}

.calendlyLink input {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid var(--borderColor);
}

.CandidateProfileViewCardBody {
    border: 1px solid var(--borderColor);
    border-bottom: none;
    border-radius: 8px;
}

.CandidateProfileViewCardBodyTable {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    border-bottom: 1px solid var(--borderColor);
}

.CandidateProfileViewCardBodyTable h2 {
    width: 30%;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0px;
    margin-left: 10px;
}

.CandidateProfileViewCardBodyTable h3 {
    font-size: 14px;
    font-weight: 400;
    color: var(--textColor);
    padding: 15px 0px;
}