.adminNotification {
    width: 100%;
    border: 1px solid var(--borderColor);
    background-color: var(--white);
    border-radius: 8px;
    padding: 12px;
}

.adminNotificationHead {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.adminNotificationHead h1 {
    font-size: 16px;
    font-weight: 600;
}

.adminNotificationHead h6 {
    font-size: 16px;
    font-weight: 400;
    color: var(--textColor);
}

.adminNotificationTab {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
}

.adminNotificationTabActive {
    padding: 10px;
    border-bottom: 2px solid var(--primaryColor);
}

.adminNotificationLog {
    width: 100%;
    height: 280px;
    overflow-y: scroll;
}

.homeProgress {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.homeProgressCandidate {
    width: 100%;
    height: 220px;
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    background-color: var(--white);
}

.homeProgressClient {
    width: 100%;
    height: 220px;
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    background-color: var(--white);
}

/* overlay */
.interViewDetailOverlay {
    width: 30%;
    background-color: white;
    display: flex;
    z-index: 10 !important;
    flex-direction: column;
    /* padding: 10px; */
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.interViewDetailOverlayHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--dropColor);
    border-bottom: 1px solid var(--borderColor);
}

.interViewDetailOverlayHead h1 {
    font-size: 16px;
    font-weight: 600;

}

.interViewDetailOverlayContent {
    padding: 15px;
}

.interViewDetailOverlayContent h2 {
    font-size: 14px;
    font-weight: 600;
}

.interViewDetailOverlayContent h3 {
    font-size: 14px;
    font-weight: 400;
    color: var(--textColor);
    margin-top: 5px;
    margin-bottom: 5px;
}