.travelHistory {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
}

.travelHistoryHeadLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerTravelHistory {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid var(--dropBorderColor);
}

.travelHistoryHead {
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border-bottom: 1px solid var(--dropBorderColor);
    background-color: var(--dropColor);
}

.bottomBorder {
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: var(--dropColor);
}

.travelHistory h1 {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}

.travelHistoryLeftIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.travelHistoryLeftIconSvg {
    margin-right: 10px;
    height: 18px;
}

.travelHistoryDesc {
    width: 100%;
    /* height: 300px; */
    background-color: var(--white);
    border-bottom-left-radius: 8px;
    border-bottom-Right-radius: 8px;
    padding: 30px;
}

.travelHistoryDesc h1 {
    font-size: 15px;
    color: var(--textColor);
    margin-bottom: 20px;
    margin-left: 0;
}

.travelHistoryDescGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;

}

.travelHistoryDescGridOne {
    width: 100%;
    height: 300px;
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    padding: 25px;
}

.travelHistoryDescGridOneFlex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.travelHistoryDescGridOne h5 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--textColor);

}

.travelHistoryDescGridOne h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.travelHistoryDescGridOne h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    opacity: 0.7;
}

.travelHistoryDescGridOne h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    opacity: 0.4;
    margin-left: 5px;
}

.travelHistoryDescGridOneFlexGap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.travelHistoryDescGridOneFlexGap h3 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0.7;
}


.travelHistoryDescGridOneFlexGap h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    opacity: 0.4;
    margin-left: 5px;

}