.interviewHead {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.interviewCard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}